/* Main Styles */

body {
	background-color: #ddd;
}

.container {
	margin: 2em 0;
}

.header-row {
	background-color: #000;
}

/* Image */
img {
	margin: 1.5em 0 1em 2em;
	width: 80%;
}

.img-responsive {
	margin: 0 auto;
}

.question {
	color: #1a1a1a;
	font-size: 3em;
}

/* Main Content Styles */
p {
	font-size: 2em;
}

#word {
	font-size: 2.5em;
}

h1 {
	margin-top: 1.5em;
	font-size: 5em;
}

/* Game State Styles */
.winner {
	color: #33cc33;
}

.loser {
	color: #cc0000;
}

/* Buttons */
.btn {
	padding: 1em;
	width: 8em;
}

.reset {
	background-color: #000;
	color: #ddd;
	border-color: #ddd;
}

.restart {
	background-color: #fff;
	color: #000;
}

